#Ignoring generated codes
**/generated/

#Ignoring build outputs
**/[Bb][Uu][Ii][Ll][Dd]/
**/[Ob][Uu][Tt]/

#Ignoring Ninja CMake Tool files
**/[Nn]inja/
**/ninja*

#Visual Studio/Visual Studio Code Files
**/.vs/
**/.vscode/

#CMocka
**/cmocka/

**/ctest_output*

**/[Tt]ools/

**/mull.zip*
**/mull-install*
**/cmocka-install*

**/dumbmutate/
**/dumbmutate*

src/build_dumbmutate*

bin/
obj/

dist/
KOKESort.egg-info/
KOKESortWrapper.egg-info/

**/*.dll
**/*.lib
**/*.exp
**/*.pdb
**/*.so

**/__backup__*

**/.git/
**/.github/

benchres/
src/generator/gen/test*

functions.txt

src/vcpkg
src/docs
src/html
src/latex
src/helper
src/out

mutated/

# Git Module
**/KOKESort/

*.pyd
*.pyc
**/__pycache__/