#Ignoring generated codes
src/generated/

#Ignoring build outputs
out/
build/

#Ignoring Ninja CMake Tool files
ninja/
ninja*

#Visual Studio/Visual Studio Code Files
.vs/
.vscode/

#CMocka
cmocka/

ctest_output.txt
ctest_output.txt*

tools/

mull.zip

cmocka-install.bat
mull-install*

dumbmutate/
dumbmutate*

build_dumbmutate*

buildwithmutationtest*